/* Import Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(#f1f3ff, #cbd4ff);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  background: #151a2e;
  transition: all 0.4s ease;
}

.sidebar.collapsed {
  width: 85px;
}

.sidebar .sidebar-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}

.sidebar-header .header-logo img {
  width: 46px;
  height: 46px;
  display: block;
  object-fit: contain;
  border-radius: 50%;
}

.sidebar-header .sidebar-toggle {
  position: absolute;
  right: 20px;
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #eef2ff;
  transition: all 0.4s ease;
}

.sidebar-header .sidebar-toggle:hover {
  background-color: #d9e1fd;
}

.sidebar.collapsed .sidebar-toggle {
  transform: translate(-4px, 65px);
}

.sidebar-header .sidebar-toggle span {
  font-size: 1.75rem;
  transition: all 0.4s ease;
}

.sidebar.collapsed .sidebar-toggle span {
  transform: rotate(180deg);
}

.sidebar-nav .nav-item .nav-link {
  color: #fff;
  text-decoration: none;
}

.sidebar.collapsed .sidebar-nav .primary-nav {
  transform: translateY(65px);
}

.sidebar-nav .nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 15px;
  transform: translateY(15px);
  transition: all 0.4s ease;
}

.sidebar-nav .primary-nav {
  overflow-y: auto; 
  height: calc(100vh - 204px); 
  padding-bottom: 50px; 
  scrollbar-width: thin ;
  scrollbar-color: transparent transparent; 
}

.sidebar-nav .primary-nav:hover {
  scrollbar-color: #EEF2FF transparent; 
}

.sidebar.collapsed .sidebar-nav .primary-nav {
  overflow-y: unset; 
  transform: translateY(65px);
}

.sidebar-nav .nav-item .nav-link {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 11px 15px;
  border: 1px solid #151a2e;
  border-radius: 8px;
  transition: all 0.4s ease;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.sidebar-nav .nav-item:is(:hover, .open) > .nav-link:not(.dropdown-title) {
  background-color: #eef2ff;
  color: #151a2e;
}

.sidebar-nav .nav-link :where(.nav-label, .dropdown-icon) {
  transition: all 0.3s ease;
}

.sidebar.collapsed .nav-link :where(.nav-label, .dropdown-icon) {
  opacity: 0;
  pointer-events: none;
}

.sidebar-nav .secondary-nav {
  position: absolute;
  bottom: 30px;
  width: 100%;
  background-color: #151a2e;
}

/* Dropdown Stylings */
.sidebar-nav .nav-item {
  position: relative;
}

.sidebar-nav .dropdown-container .dropdown-icon {
  margin: 0 -4px 0 auto;
  transition: transform 0.4 ease, opacity 0.3s 0.2s ease;
}

.sidebar.collapsed .dropdown-container .dropdown-icon {
  transition: opacity 0.3s 0s ease;
}

.sidebar-nav .dropdown-container.open .dropdown-icon {
  transform: rotate(180deg);
}

.sidebar-nav .dropdown-menu {
  height: 0;
  overflow-y: hidden;
  list-style: none;
  padding-left: 15px;
  transition: height 0.4s ease;
}

.sidebar.collapsed .dropdown-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  opacity: 0;
  height: auto !important;
  overflow-y: unset;
  pointer-events: none;
  background: #151a2e;
  padding-right: 10px;
  border-radius: 0 10px 10px 0;
  transition: 0s;
}

.sidebar.collapsed .dropdown-menu:has(.dropdown-link) {
  padding: 7px 10px 7px 24px;
}

.sidebar.collapsed .nav-item:hover .dropdown-menu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(10px);
  transition: 0.4s ease;
}

.dropdown-menu .nav-item .nav-link {
  padding: 9px 15px;
}

.dropdown.collapsed .dropdown-menu .nav-link {
  padding: 7px 15px;
}

.dropdown-menu .nav-item .dropdown-title {
  display: none;
}

.dropdown-menu:has(.dropdown-link) .nav-item .dropdown-title {
  font-weight: 500;
}

.sidebar.collapsed .dropdown-menu .nav-item .dropdown-title {
  display: block;
}


/* Responsive media query code from small screens */
@media (max-width: 768px) {
  .sidebar-menu-button {
    display: block ;
    position: fixed; 
    left:  20px; 
    top: 20px; 
    border: none; 
    color: #151a2e; 
    background: none; 
    cursor: pointer; 
  }

  .sidebar-menu-button span {
    font-size: 1.8rem; 
  }

  .sidebar.collapsed {
    width: 260px; 
    left: -260px; 
  }

  .sidebar.collapsed .sidebar-header .sidebar-toggler {
    transform: none; 
  }

  .sidebar.collapsed .sidebar-nav .primary-nav {
    transform: translateY(15px);
  }
}
